table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
  }

  span {
    cursor: pointer;
  }

  span.highlight {
    background-color: yellow;
  }